* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* made to easily control sizes */
    font-size: 62.5%; /* 1rem = 10px */

    /* fonts */
    --title-font: Roboto Slab;
    --default-font: Roboto;

    /* text colors */
    --default-text-color: #bbbbbb;
    --title-text-color: #ffffff;
    --title-hover-color: #808080;

    /* background colors */
    --bg-header-color: #181b20;
    --bg-body-color: #22272E;

    /* element sizes */
    --content-width: 60%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body-color);
    color: var(--default-text-color);
    font-family: var(--default-font);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--title-font);
    width: var(--content-width);
    margin: 2.15rem auto;
}

header a {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: var(--title-font);
    font-weight: bold;
}

header a:hover {
    color: var(--title-hover-color);
    transition: 0.1s linear;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}