* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* made to easily control sizes */
    font-size: 62.5%; /* 1rem = 10px */

    /* fonts */
    --title-font: Roboto Slab;
    --default-font: Roboto;

    /* text colors */
    --default-text-color: #bbbbbb;
    --title-text-color: #ffffff;
    --title-hover-color: #808080;

    /* background colors */
    --bg-header-color: #181b20;
    --bg-body-color: #22272E;

    /* element sizes */
    --content-width: 60%;
}

h1 {
    font-size: 2.4rem;
    color: var(--title-text-color);
    font-family: var(--title-font);
}

h2 {
    font-size: 2.2rem;
    color: var(--title-text-color);
    font-family: var(--title-font);
}

h3 {
    font-size: 2rem;
    color: var(--title-text-color);
    font-family: var(--title-font);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body-color);
    color: var(--default-text-color);
    font-family: var(--default-font);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-family: var(--title-font);
    width: var(--content-width);
    margin: 2.3rem auto;
}

header a {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: var(--title-font);
    font-weight: bold;
}

header a:hover {
    color: var(--title-hover-color);
    transition: 0.1s linear;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

main {
    width: var(--content-width);
    margin: auto;
    font-size: 1.6rem;
}

#highlight {
    margin: 9.4rem auto 0 auto;
}

#highlight-content img {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

#highlight-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#highlight-content h2 {
    margin-bottom: 2rem;
}

#highlight-content p {
    max-width: 50rem;
}

#techs {
    margin: 9.6rem auto 0 auto;
    overflow: hidden;
}

#techs h2 {
    text-align: center;
}

#tech-container {
    display: flex;
    margin-top: 3rem;
    width: max-content;
    animation: slide-left 25s linear infinite;
}

.tech-wrapper {
    display: flex;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: var(--title-text-color);
    padding: 0.5rem;
    width: 8rem;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 0.8rem;
}

.tech-item img {
    width: 3.6rem;
    height: 3.6rem;
    -webkit-user-drag: none;
}

.tech-item img.large {
    width: 6rem;
    object-fit: contain;
}

.tech-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow {
    margin: 9rem auto 0 auto;
    font-size: 3.1rem;
    border-radius: 100%;
    padding: 0.3rem;
    color: var(--title-text-color);
    animation: bounce 1.3s infinite;
}

#arrow:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}