* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* made to easily control sizes */
    font-size: 62.5%; /* 1rem = 10px */

    /* fonts */
    --title-font: Roboto Slab;
    --default-font: Roboto;

    /* text colors */
    --default-text-color: #bbbbbb;
    --title-text-color: #ffffff;
    --title-hover-color: #808080;

    /* background colors */
    --bg-header-color: #181b20;
    --bg-body-color: #22272E;

    /* element sizes */
    --content-width: 60%;
}
