img {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
    border-radius: 100%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    -webkit-user-drag: none;
    user-select: none;
}

.hidden {
    display: none;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 15% 1fr 15%;
}

.startpage {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.startpage .menu {
    padding: 0;
}

.startpage .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.startpage .menu ul li {
    display: block;
    padding: 6px;
    margin: 0px 15px;
    user-select: none;
}

.startpage .menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.startpage .menu ul li:active {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

footer {
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: small;
    text-align: center;
    align-self: center;
}

@media (max-width: 950px) {
    .startpage .menu ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 465px) {

    img {
        height: 230px;
        width: 230px;
    }
    
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10%;
    }

    .startpage {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .startpage .menu ul li {
        font-size: large;
    }

    footer {
        padding: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: end;
        font-size: medium;
    }
}